<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style1.css">
	<style>
	h1
	{
		color: #6699cc;
	}
	</style>
</head>
<body background="/static/images/light blue bg.jpg">
	<h1 style="text-align:center">About Us</h1>
	<p style="text-align:center">We are team "Anonymous" of JSS-Hackathon 2015. We started developing this project keeping<br>in mind Energy Conservation and help in contributing towards environment. We aimed at<br>sustainable development and reducing environmental pollution. The whole program<br>will help reduce electricity consumption and its wastage, thus ensuring existence of fossil<br>fuels over longer period of time. Hence, it will help reduce environmental pollution that are<br>generated during the production of Electric Energy.
</p>
</body>
</html>