<!DOCTYPE html>
<html>
<head>
	<title>Approach</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style1.css">
	<style>
	h1
	{
		color: #339966;
	}
	</style>
</head>
<body background="/static/images/oceanic blue bg.jpg">
	<h1 style="text-align:center">Approach</h1>
	<p style="text-align:center">We aim at reducing over-consumption of energy<br>to help achieve the goal of sustainable development.<br>Thus, helping towards reduction in environmental pollution<br>and providing enough resources for our future generations.</p>
</body>
</html>